body {
    display: flex;
    align-items:first baseline;
    justify-content:center;
    

}

#boxContainer {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height: 700px;
    width: 700px;
    border: solid red;

}

#boxes {
    /*border: solid black;*/
    box-sizing: border-box;
}

#title {

    border:  solid red;
}