body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#boxContainer {
    display:flex;
    flex: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 960x;
    width: 960px;
}

#boxes {
    border: solid red;
    padding: 0px;
    height: 30px;
    width: 30px;
}

#title {

    border:  solid red;
}